<!DOCTYPE html>
<html>
	<head>
	  <link rel="stylesheet" href="../public/players.css" type="text/css" />
		<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
	</head>
	<body>
	  <div class="main">
	    <div class="settings">
	      <input type="button" class="buttons" value="Settings" id="settings">
	    </div>
	    <div class="players">
	      <div class="north">
	        <span> North: </span>
	      </div>
	      
	      <div class="option">
	        <select name="north" id="north" onchange="newPlayer()">
	          <option value="select">-- Select -- </option>
	          <option value="newPlayer">New Player</option>
	        </select>
					<input 
	          type="text" 
	          placeholder="Enter your name"
	          class="namebox"
            id="northNamebox"
						style='visibility:hidden'
	          />
	      </div> 
	      <div class="east">
	        <span>East:</span>
	      </div>
	      <div class="option">
	        <select name="east" id="east">
	          <option value="select">-- Select -- </option>
	          <option value="newPlayer">New Player</option>
	        </select>
	      </div>
	      <div class="south">
	        <span>South: </span>
	      </div>
	      <div class="option">
	        <select name="south" id="south">
	          <option value="select">-- Select -- </option>
	          <option value="newPlayer">New Player</option>
	        </select>
	      </div>
	      <div class="west">
	        <span>West: </span>
	      </div>
	      <div class="option">
	        <select name="west" id="west">
	          <option value="select">-- Select -- </option>
	          <option value="newPlayer">New Player</option>
	        </select>
	      </div>
	      </p>
	  </div>
	  <div class="continue">
	    <input type="button" class="buttons" value="Continue" id="continue" onclick="location.href='/round'">
	  </div>
	  </div>
	</body>
	<script>
		function newPlayer() {
			var option = $('#north');
			if (option.val() == 'newPlayer') {
				$('#northNamebox').prop('style', 'visibility:visible')
			} else {
				$('#northNamebox').prop('style', 'visibility:hidden')
			}
		}
	</script>
</html>