<!DOCTYPE html>
<html>
	<head>
	  <link rel="stylesheet" href="../public/round.css" type="text/css" />
	</head>
	<body>
	   <div class="main">
	     <div class="round-num">
	       <p>Round: 1</p>
	     </div>
	     <div class="east">
	       <p>東</p>
	       <p>East</p>
	       <p>Player 1 Name</p>
	     </div>
	     <div class="west">
	       <p>西</p>
	       <p>West</p>
	       <p>Player 3 Name</p>
	     </div>
	     <div class="north">
	       <p>北</p>
	       <p>North</p>
	       <p>Player 4 Name</p>
	     </div>
	     <div class="south">
	       <p>南</p>
	       <p>South</p>
	       <p>Player 2 Name</p>
	     </div>
	     <div class="endRound">
	       <input type="button" class="buttons" value="End Round" id="endRound">
	     </div>
	  </div>
	</body>
</html>