@import url("style.css");

.main
{
  position: relative;
  line-height: 5px;
  width: 100vw;
  height: 90vh;
  min-height: 300px;
  min-width: 200px;
  margin: auto;
}

.round-num
{
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 20px;
}

.east
{
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0, -50%);
}

.west
{
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0, -50%);
}

.north
{
  position: absolute;
  top: 0;
  width: 100%;
}

.south
{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.endRound
{
  position: relative;
  left: 0;
  top: 45%;
}

.endRound_popup .overlay
{
  position: fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}
.endRound_popup .content
{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  width:200px;
  height:200px;
  background:#fff;
  z-index:2;
  text-align:center;
  padding: 20px;
  box-sizing:border-box;
}

.endRound_popup .close-btn
{
  cursor:pointer;
  position: absolute;
  top:20px;
  right:20px;
  width:30px;
  height:30px;
  background:#222;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}

.endRound_popup.active .overlay
{
  display:block;
}

.endRound_popup.active .content
{
  transform:translate(-50%,-50%) scale(1);
}


.home
{
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
}

